# intellij, vscode
.idea/
.vscode/
.run/

# build artifacts, mac
__pycache__/
*.pyc
.DS_Store

# virtual env, env vars
venv
.envrc
.env


# BridgeCTL App folders
log/
buildimg/*
config/*
scratch/*

# General filetypes
*.zip
*.rpm
*.pem
